<div class="card">
    <div class="card-content article ">
        <h1 class="title is-size-3 is-size-4-mobile has-text-weight-normal">Music</h1>
        <div class="content">
            <h4><a target="_blank" href="https://store.piascore.com/scores/22528">雅-MIYAVI- vs HIFANA - GANRYU ギターTAB譜</a></h3>
            <p></p><a target="_blank" href="https://store.piascore.com/scores/22528"><img src="https://store.piascore.com/scores/22528/sample_image?page_id=1" width="50%" alt="雅-MIYAVI- vs HIFANA - GANRYU ギターTAB譜"></a></p>

            <h4><a target="_blank" href="https://store.piascore.com/scores/22527">アンパンマンのマーチ ソロギターTAB譜</a></h3>
            <p><a target="_blank" href="https://store.piascore.com/scores/22527"><img src="https://store.piascore.com/scores/22527/sample_image?page_id=1" width="50%" alt="アンパンマンのマーチ ソロギターTAB譜"></a></p>

            <h4><a target="_blank" href="https://store.piascore.com/scores/46648">CHA-LA HEAD-CHA-LA ソロギターTAB譜</a></h3>
            <p><a target="_blank" href="https://store.piascore.com/scores/46648"><img src="https://store.piascore.com/scores/46648/sample_image?page_id=1" width="50%" alt="CHA-LA HEAD-CHA-LA ソロギターTAB譜"></a></p>
        </div>
    </div>
</div>
