/* ---------------------------------
 *   Spacing helpers (used classes only)
 * --------------------------------- */
$spacer ?= 1rem

// margins used in theme layouts and @extend in stylus files
.ml-1
    margin-left: $spacer * .25 !important
.mr-1
    margin-right: $spacer * .25 !important
.mr-2
    margin-right: $spacer * .5 !important
.mr-4
    margin-right: $spacer * 1.5 !important
.mt-1
    margin-top: $spacer * .25 !important
.mt-4
    margin-top: $spacer !important
.mt-5
    margin-top: $spacer * 1.5 !important
.mb-1
    margin-bottom: $spacer * .25 !important
.mb-2
    margin-bottom: $spacer * .5 !important
.mb-3
    margin-bottom: $spacer !important
.mb-4
    margin-bottom: $spacer !important
// padding used in posts
.pt-1
    padding-top: $spacer * .25 !important
// auto centering used in about.md and layouts
.ml-auto
    margin-left: auto !important
.mr-auto
    margin-right: auto !important
.mx-auto
    @extend .ml-auto, .mr-auto

/* ---------------------------------
 *           Flex helpers
 * --------------------------------- */
.order-1
    order: 1 !important
.order-2
    order: 2 !important
.order-3
    order: 3 !important

.justify-content-start
    justify-content: start !important

.justify-content-center
    justify-content: center !important

.flex-shrink-1
    flex-shrink: 1 !important

/* ---------------------------------
 *           Color helpers
 * --------------------------------- */
.link-muted
    color: inherit

    &:hover
        color: $primary !important

/* ---------------------------------
 *          Image helpers
 * --------------------------------- */
.image
    &.is-7by3
        padding-top: 42.8%

        img
            bottom: 0
            left: 0
            position: absolute
            right: 0
            top: 0

    .avatar
        height: 100%
        object-fit: cover

    .fill
        object-fit: cover
        width: 100% !important
        height: 100% !important
