/* ---------------------------------
 *        link preview
 * --------------------------------- */
.link-preview
  .link-area
    overflow hidden
    position: relative;
    margin: 1em 0 1em 0
    padding: 10px
    border: 1px #cbcbcb solid
  .descriptions
    overflow: hidden
  .og-title
    overflow hidden
    font-size: 1.2em
    font-weight: bold
  .og-description
    font-size: 0.86em
    margin-top: 0.2em
  .og-image
    float left
    margin-right: 10px
    img
      max-width: 125px
